<%- include('partials/header.ejs') %>
<main>
	<section class="left">
		<h2>Tags</h2>
		<ul>
			<%tags.map((tag) => { %>
			<li><a href="/tags/<%=tag.id%>"><%=tag.name%></a></li>
			<%}).join(''); %>
		</ul>
	</section>
	<section class="right">
		<h2>Add a new tag</h2>
		<form action="/tags" method="POST">
			<span>
				<label for="tag-name">tag:</label>
				<input type="text" name="name" id="tag-name" />
			</span>
			<button>add!</button>
		</form>
	</section>
</main>
<%- include('partials/footer.ejs') %>
