body {
	font-family: sans-serif;
	font-weight: 100;
	background-color: #87a2ad;
	margin: 0;
	text-transform: lowercase;
	color: #fef9ef;
}

body a {
	text-decoration: none;
	color: #ffcb77;
}

header {
	display: flex;
	background-color: #295776;
	padding: 0.25em;
}

header h1 {
	flex: 3;
}

nav {
	flex: 5;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

nav a {
	flex: 1;
	font-size: 1.25em;
	text-align: center;
	text-decoration: none;
	color: #ffcb77;
}

a:hover {
	color: #87a2ad;
	font-weight: bold;
}

h1 a {
	text-decoration: none;
	color: #fef9ef;
}

main a:hover {
	color: #487f59;
	font-weight: bold;
}

main {
	padding: 0.25em;
	display: flex;
	justify-content: space-between;
}

main > section {
	flex: 1;
	margin: 0 1em;
}

.right {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	border: 1px solid #295776;
	border-radius: 5px;
	margin: 0.5em;
	width: 75%;
}

.right form {
	display: flex;
	flex-direction: column;
}

fieldset {
	display: flex;
	justify-content: space-around;
	border: none;
	border-top: 1px solid #295776;
	margin-top: 1em;
}

fieldset h3 {
	align-self: center;
	font-weight: 100;
}

.right form select {
	align-self: center;
}

.right form input {
	margin: 0.25em;
}

form input,
form select {
	border: 1px solid #295776;
	box-sizing: border box;
	border-radius: 2px;
	font-size: 1em;
	color: #295776;
	font-weight: 100;
}

form input:focus-visible,
form select:focus-visible {
	border: 1px solid #487f59;
	outline: 1px solid #487f59;
	border-radius: 2px;
}

.right form button {
	margin: 0.25em;
	padding: 0 2em;
	align-self: center;
	background-color: #487f59;
	color: #fef9ef;
	border: 1px solid #3c3c48;
	border-radius: 0.25rem;
	font-size: 1.2rem;
}

.right form button:hover {
	background-color: #295776;
}

.right form button:active {
	font-weight: bold;
}

footer {
	background-color: #295776;
	width: 100%;
	padding: 0.25em;
	align-items: center;
	position: fixed;
	bottom: 0;
	font-size: 1.5em;
}

footer div {
	color: white;
	font-size: 1rem;
	font-weight: 100;
}

footer div a {
	color: #ffcb77;
}

.error {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 575px) {
	nav {
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
	}

	nav a {
		flex: 0;
	}

	main {
		flex-direction: column;
	}

	main section {
		width: calc(100% - 0.5em);
	}

	form > span,
	fieldset {
		display: flex;
		flex-direction: column;
	}

	fieldset h3 {
		margin: 0.2em 0;
	}

	.input {
		margin: 0.2em 3em;
	}
}
